/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
  font-family: 'Raleway', sans-serif;
 }

::placeholder {
  color: #031D44;
  opacity: 0.4; 
}

nav ul a,
nav .brand-logo {
  color: #031D44;
}

nav .nav-wrapper {
    padding: 0 50px;
}

nav .brand-logo {
  font-family: 'Raleway', sans-serif;
}

p {
  line-height: 2rem;
}


.button-collapse {
  color: #ef5350;

}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.header {
  margin-top: 15%;
}

.section-intro {
  height: 100%;
  width: 100%;
}

.section-registrazione {
  height: 100%;
    width: 100%;
}


.header-subtitle {
  margin-top: 2%;
  font-size: 1.3em;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  #index-banner .section {
    top: 10%;
  }
}

.col-servizio {
  margin-top: 60px;
  margin-bottom: 60px;
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  nav .nav-wrapper {
    padding: 0 20px;
}
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#servizio h5 {
 font-size: 1.3em;
 line-height: 1.6em;
}

.registrazione-icon {
  font-size: 7em;
  margin-top: 60px;
}

.registrazione-subtitle {
  font-size: 1.3em;
  margin-top: 5%;
}



.btn-registrazione {
  width: 100%;
}

/*il messaggio per una password sicura è mostrata sotto al modulo quando
l'utente clicca su "utente" */
#message_user {
  display: none;
  background: none;
  color: #f44336;
  position: center;
  padding-bottom: 5%;

}

#message_user p {
  text-align: center;

}


/*il messaggio per una password sicura è mostrata sotto al modulo quando
l'utente clicca su "password" */
#message {
  display:none;
  background: none;
  color: #f44336;
  position: center;
  padding-bottom: 5%;

}

#message p {
  text-align: center;

}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
  line-height: 0.8rem;
}

.valid:before {
  position: relative;
  left: -25px;
  content: "\2714";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: #f44336;
  line-height: 0.8rem;
}

.invalid:before {
  position: relative;
  left: -25px;
  content: "\2716";
}


.invita-icon {
  font-size: 7em;
  margin-top: 60px;
}

.invita-subtitle {
  font-size: 1.3em;
  margin-top: 5%;
  line-height: 2em;
}

.btn-invita {
  width: 100%;
}



footer.page-footer {
  margin: 0;
  background-color: #3d5467;
}

.social-icon {
  font-size: 0.9em;
  color: #fff;
  padding: 0 10px;
}

.social-icon:hover {
  color: #ef3550;
}

.profile{
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding: 20px ;
}

.profile_image{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin:0 auto 20px auto;
  display: block;
}

.profile_name{
  font-size: 1.2em;
  font-weight: bold;
}

.profile_title{
  margin-bottom: 20px;
}

.profile_details{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
}

.tablerow { padding:20px; }


.login-input {
  border: #CCC 1px solid;
    padding: 10px 20px;
  border-radius:4px;
}

.tableheader { font-size: 20px; }

.error_message {
  color: #DF001E;
    background: #ffb5b5;
    border: #c76969 1px solid;
}