
body{
    margin:0;
    overflow: hidden; 
    font-family: 'Raleway', sans-serif;           
    background-color: #EBEBEB
}

#messages{
    height:88vh;
    overflow-x:hidden;
    padding:10px;
    background-image: url()

}

form{
    display: flex;
    width: 100%;
}

input{
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px 5px;
    appearance: none;
    -webkit-appearance: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: center
}

#message { 
  flex: 2

}

::placeholder{
    color: #ea454b
}
            
.msg {
    background-color:  #7DDF64;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    width: -moz-max-content;
    width: -webkit-max-content;
    width: max-content;

}
            
.msg p{
    margin:0;
    font-weight:bold
}
            
.msg span{
    font-size: 0.7rem;
    margin-left: 15px
}    
           
